
params {
  
  outdir = "result"
  demux_tool  = "demuxlet"

  sam = "$projectDir/data/jurkat_293t_downsampled_n500_full_bam.bam"
  tag_group = 'False'
  tag_UMI = 'False'
  
  plp = 'no_plp'
  
  vcf = "$projectDir/data/jurkat_293t_exons_only.vcf"
  field = "GT"
  geno_error_offset = 0.1
  geno_error_coeff = 0.0
  r2_info = 'R2'
  min_mac = 1
  min_callrate = 0.50 
  sm = 'False'
  sm_list = 'no_sm_list'

  alpha = 0.5
  alpha_list = 'False'
  doublet_prior = 0.50
  sam_verbose = 1000000
  vcf_verbose = 10000

  cap_BQ = 40
  min_BQ = 13
  min_MQ = 20
  min_TD = 0
  excl_flag = 3844

  group_list = 'False'
  min_total = 0   
  min_umi = 0
  min_snp = 0


  celldata = "$projectDir/data/cells.cellSNP.vcf.gz"
  vartrixData = 'no_vartrixData'
  donorfile = 'no_donorfile'
  genoTag = 'PL'
  
  noDoublet = 'False'
  nInit = 50
  extraDonor = 0  
  extraDonorMode = 'distance'
  forceLearnGT = 'False'
  ASEmode = 'False'
  noPlot = 'False'
  randSeed = 'none'
  cellRange = 'all'
  callAmbientRNAs = 'False'
  nproc = 1


  bam = "/souporcell/jurkat_293t_downsampled_n500_full_bam.bam"
  barcodes = "/souporcell/barcodes.tsv"
  fasta = "/souporcell/refdata-cellranger-hg19-3.0.0/fasta/genome.fa"
 
  threads = 2

  ploidy = 2
  min_alt = 10
  min_ref = 10
  max_loci = 2048
  restarts = 'False'
  common_variants = 'no_common_variants'
  known_genotypes = 'no_known_genotypes'
  known_genotypes_sample_names = 'False'
  skip_remap = 'False'
  ignore = 'False'

  
}

process {
    withName:demuxlet{
        container = 'popscle'
    }
    withName:vireo {
        container = 'vireo'
    }
    
}
docker.enabled = true

