
params {
  bam = "/home/xic/data/jurkat_293t_downsampled_n500_full_bam.bam"
  vcf = "/home/xic/data/jurkat_293t_exons_only.vcf"
  field = "GT"
}



profiles {

    docker {
        process.container = 'demuxlet'
	docker.enabled = true
    }


    singlet {
	#process.container = 'demuxlet_sing' or use -with-singularity
        singularity {
    		enabled = true
    		runOptions = "--bind $PWD"
			}
    }

    conda {

	process.conda = 'my_env.yml'


    }


}



