
params{

  bam = "/home/xic/data/jurkat_293t_downsampled_n500_full_bam.bam"
  vcf = "/home/xic/data/jurkat_293t_exons_only.vcf"
  field = "GT"
}

/*

use docker as container
process.container = 'demuxlet'
docker.enabled = true

*/

/*
use singualarity as container
process.container = 'sing_demuxlet.sif'
singularity {
    enabled = true
    runOptions = "--bind $PWD"
}

*/

